node-red-flow/sonoff-diy-mqtt.json
[
  {
    "id": "160ea7f5.d69858",
    "type": "tab",
    "label": "Sonoff DIY",
    "disabled": false,
    "info": ""
  },
  {
    "id": "ef0c8f06.2b503",
    "type": "mqtt in",
    "z": "160ea7f5.d69858",
    "name": "",
    "topic": "cmnd/sonoffmini/#",
    "qos": "2",
    "datatype": "auto",
    "broker": "eb2400e7.444eb",
    "x": 110,
    "y": 60,
    "wires": [["53a8e5e3.b7649c"]]
  },
  {
    "id": "189903fd.5d709c",
    "type": "http request",
    "z": "160ea7f5.d69858",
    "name": "",
    "method": "use",
    "ret": "obj",
    "paytoqs": false,
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 730,
    "y": 200,
    "wires": [["1f18fa1.ae3e006"]]
  },
  {
    "id": "a0148001.86de7",
    "type": "function",
    "z": "160ea7f5.d69858",
    "name": "set POST msg",
    "func": "const res = Object.assign({}, msg);\n\nmsg.method = 'POST';\nmsg.url = `http://${res.sonoff.ip}:8081/zeroconf/switch`;\nmsg.payload = `{\n    \"ip\": \"192.168.15.22\",\n    \"deviceid\": \"${res.sonoff.deviceId}\",\n    \"data\": {\n        \"switch\": \"${res.payload.toLowerCase()}\"\n    }\n}`\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 540,
    "y": 200,
    "wires": [["189903fd.5d709c"]]
  },
  {
    "id": "94f555da.429c58",
    "type": "inject",
    "z": "160ea7f5.d69858",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "30",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 450,
    "y": 320,
    "wires": [["a5a8b9b9.417368"]]
  },
  {
    "id": "18d61b1b.6aea45",
    "type": "mqtt out",
    "z": "160ea7f5.d69858",
    "name": "/stat/sonoffmini/#",
    "topic": "",
    "qos": "",
    "retain": "",
    "broker": "eb2400e7.444eb",
    "x": 1890,
    "y": 420,
    "wires": []
  },
  {
    "id": "eefb0117.a8276",
    "type": "function",
    "z": "160ea7f5.d69858",
    "name": "Setup MQTT pub",
    "func": "\nconst res = msg;\nconst data = JSON.parse(res.payload.data);\n\nconst statMessage = {\n    topic: `stat/sonoffmini/${res.topic}`,\n    payload: data,\n}\n\nconst powerMessage = {\n    topic: `stat/sonoffmini/${res.topic}/POWER`,\n    payload: data.switch.toUpperCase(),\n}\n\nmsg = {};\n\nmsg.payload = [statMessage, powerMessage];\n\n\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1390,
    "y": 320,
    "wires": [["1bed70d1.4c817f"]]
  },
  {
    "id": "86299d7a.47c2c",
    "type": "http request",
    "z": "160ea7f5.d69858",
    "name": "",
    "method": "use",
    "ret": "obj",
    "paytoqs": false,
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 1210,
    "y": 320,
    "wires": [["eefb0117.a8276"]]
  },
  {
    "id": "6ff2a4dd.6ebeac",
    "type": "function",
    "z": "160ea7f5.d69858",
    "name": "Setup POST",
    "func": "const res = msg.payload;\n\nmsg.method = 'POST';\nmsg.url = `http://${res.ip}:8081/zeroconf/info`;\nmsg.payload = `{ \n\t\"deviceid\": \"${res.deviceId}\", \n\t\"data\": { } \n}`\nmsg.topic = res.topic;\n\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1050,
    "y": 320,
    "wires": [["86299d7a.47c2c"]]
  },
  {
    "id": "8cf2aaee.7676d8",
    "type": "split",
    "z": "160ea7f5.d69858",
    "name": "",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 850,
    "y": 320,
    "wires": [["6ff2a4dd.6ebeac"]]
  },
  {
    "id": "a5a8b9b9.417368",
    "type": "function",
    "z": "160ea7f5.d69858",
    "name": "Setup sonoffs",
    "func": "const sonoffs = [\n  {\n    name: \"ESP_A815AB\",\n    ip: \"192.168.15.25\",\n    deviceId: \"1000958f69\",\n    topic: \"sala1\",\n  },\n  {\n    name: \"ESP_75D282\",\n    ip: \"192.168.15.29\",\n    deviceId: \"1000987a90\",\n    topic: \"sala2\",\n  },\n  {\n    name: \"ESP_A03793\",\n    ip: \"192.168.15.23\",\n    deviceId: \"100098b26f\",\n    topic: \"jantar1\",\n  },\n  {\n    name: \"ESP_A9A29E\",\n    ip: \"192.168.15.26\",\n    deviceId: \"100098cbfe\",\n    topic: \"jantar2\",\n  },\n  {\n    name: \"ESP_A02B2C\",\n    ip: \"192.168.15.22\",\n    deviceId: \"10009884aa\",\n    topic: \"escritorio1\",\n  },\n  {\n    name: \"ESP_A7A2D1\",\n    ip: \"192.168.15.27\",\n    deviceId: \"100098290d\",\n    topic: \"escritorio2\",\n  },\n  {\n    name: \"ESP_A03596\",\n    ip: \"192.168.15.31\",\n    deviceId: \"100098b2e7\",\n    topic: \"suite1\",\n  },\n  {\n    name: \"ESP_A9AA78\",\n    ip: \"192.168.15.30\",\n    deviceId: \"10009898e4\",\n    topic: \"cozinha1\",\n  },\n  \n];\n\nmsg.payload = sonoffs;\n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 660,
    "y": 320,
    "wires": [["8cf2aaee.7676d8"]]
  },
  {
    "id": "1bed70d1.4c817f",
    "type": "split",
    "z": "160ea7f5.d69858",
    "name": "",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 1570,
    "y": 320,
    "wires": [["daca6d0b.2ba08"]]
  },
  {
    "id": "efaf2aa0.da9aa8",
    "type": "switch",
    "z": "160ea7f5.d69858",
    "name": "",
    "property": "action",
    "propertyType": "msg",
    "rules": [{ "t": "eq", "v": "POWER", "vt": "str" }],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 370,
    "y": 200,
    "wires": [["a0148001.86de7"]]
  },
  {
    "id": "53a8e5e3.b7649c",
    "type": "function",
    "z": "160ea7f5.d69858",
    "name": "Process message",
    "func": "const sonoffs = [\n  {\n    name: \"ESP_A815AB\",\n    ip: \"192.168.15.25\",\n    deviceId: \"1000958f69\",\n    topic: \"sala1\",\n  },\n  {\n    name: \"ESP_75D282\",\n    ip: \"192.168.15.29\",\n    deviceId: \"1000987a90\",\n    topic: \"sala2\",\n  },\n  {\n    name: \"ESP_A03793\",\n    ip: \"192.168.15.23\",\n    deviceId: \"100098b26f\",\n    topic: \"jantar1\",\n  },\n  {\n    name: \"ESP_A9A29E\",\n    ip: \"192.168.15.26\",\n    deviceId: \"100098cbfe\",\n    topic: \"jantar2\",\n  },\n  {\n    name: \"ESP_A02B2C\",\n    ip: \"192.168.15.22\",\n    deviceId: \"10009884aa\",\n    topic: \"escritorio1\",\n  },\n  {\n    name: \"ESP_A7A2D1\",\n    ip: \"192.168.15.27\",\n    deviceId: \"100098290d\",\n    topic: \"escritorio2\",\n  },\n  {\n    name: \"ESP_A03596\",\n    ip: \"192.168.15.31\",\n    deviceId: \"100098b2e7\",\n    topic: \"suite1\",\n  },\n  {\n    name: \"ESP_A9AA78\",\n    ip: \"192.168.15.30\",\n    deviceId: \"10009898e4\",\n    topic: \"cozinha1\",\n  },\n  \n];\n\nconst [,topic] = msg.topic.split('cmnd/sonoffmini/');\n\nconst [target, action] = topic.split('/')\n\nconst sonoff = sonoffs.find(s => s.topic === target);\n\nmsg.target = target;\nmsg.action = action;\nmsg.sonoff = sonoff;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 190,
    "y": 200,
    "wires": [["efaf2aa0.da9aa8"]]
  },
  {
    "id": "1f18fa1.ae3e006",
    "type": "function",
    "z": "160ea7f5.d69858",
    "name": "Setup update stat",
    "func": "msg.payload = msg.sonoff;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 950,
    "y": 200,
    "wires": [["6ff2a4dd.6ebeac"]]
  },
  {
    "id": "daca6d0b.2ba08",
    "type": "function",
    "z": "160ea7f5.d69858",
    "name": "Trasnform payload",
    "func": "const res = msg.payload;\n\nmsg = res;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1750,
    "y": 320,
    "wires": [["18d61b1b.6aea45"]]
  },
  {
    "id": "133a7566.7f853b",
    "type": "comment",
    "z": "160ea7f5.d69858",
    "name": "Notifica o sonoff",
    "info": "Manda a request HTTP para o sonoff alterando o estado do switch",
    "x": 740,
    "y": 160,
    "wires": []
  },
  {
    "id": "88a45448.135388",
    "type": "comment",
    "z": "160ea7f5.d69858",
    "name": "Entra no fluxo do STAT",
    "info": "Após alterar o estado do sonoff redirecionamos para o fluxo de publicar a mensage de stat para esse sonoff.",
    "x": 1140,
    "y": 240,
    "wires": []
  },
  {
    "id": "90600c3.72399f",
    "type": "comment",
    "z": "160ea7f5.d69858",
    "name": "Recupera INFO",
    "info": "Essa request pega a info atual do sonoff para publicar a mensagem com o status do switch correto.",
    "x": 1220,
    "y": 360,
    "wires": []
  },
  {
    "id": "eb2400e7.444eb",
    "type": "mqtt-broker",
    "z": "",
    "name": "mqtt broxker",
    "broker": "127.0.0.1",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  }
]
